@font-face {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    src: url("mplus-1m-regular.ttf");
}

.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}